
// COLORS
$color-body-bg:      white;

$color-silver:       #F5F5F5;

$color-navy:         #231F5B; //primary
$color-tan:          #C19D68; //secondary
$color-blue:         #3C3F9B; //tertiary
$color-sand:         #dbd3c8;


$color-block-border: #ccc;
$color-black:        #333;
$color-body-text:    $color-navy;

// FONTS
$font-stack-helvetica:    'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-arial-narrow: "Arial Narrow", Arial, sans-serif;
$font-stack-georgia:      Georgia, Times, 'Times New Roman', serif;

$base-font:               'proxima-nova', $font-stack-helvetica;
$font-heading:            'Raleway', $font-stack-helvetica;
$font-script:             'SevilleScriptSlant', $font-stack-georgia;
$font-script-alt:         'SevilleScriptAltSlant', $font-stack-georgia;


// PROJECT GLOBALS
$topbar-height-desktop: 140px;
$topbar-height-mobile: 60px;

$banner-height-desktop: 600px;
$banner-height-mobile: 200px;

$logo-bar-height: 81px;

$navbar-height-desktop: 80px;

$play-icon-size: 70px;

//$gutter: $grid-gutter-width;

$carousel-pagination-size: 60px;


