// 
// MAP OVERRIDES
//

$theme-colors: (
  "primary":     $color-navy,
  "secondary":   $color-sand,
  "tertiary":    $color-green,
  "white":       white,
  "success":     $success,
  "info":        $info,
  "warning":     $warning,
  "danger":      $danger,
  "light":       $light,
  "dark":        $dark,
  "blue":        $color-blue,
  "navy":        $color-navy,
  "sand":        $color-sand,
  "taupe":       $color-taupe,
  "green":       $color-green,
  "green-light": $color-green-light
);

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 868px,
  lg: 1192px,
  xl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 840px,
  lg: 1160px,
  xl: 1340px
);
*/


//
// PROJECT VARS USING BOOTSTRAP'S VALUES
//
// shortcut vars
$gutter: $grid-gutter-width;

// body text color
$body-bg: $color-silver;
//$body-color: $gray-600;