// 
// MAP OVERRIDES
//

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-secondary,
  "tertiary":   $color-tertiary,
  "primary-light":    $color-primary-light,
  "secondary-light":  $color-secondary-light,
  "primary-extralight":    $color-primary-extralight,
  "secondary-extralight":  $color-secondary-extralight,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      white,
  "black":      black,
  "silver":     $color-silver,
  "navy":       $color-navy,
  "tan":        $color-tan,
  "blue":       $color-blue
);

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 868px,
  lg: 1192px,
  xl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 840px,
  lg: 1160px,
  xl: 1340px
);
*/

//
// GRID GUTTERS
//
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
);

//
// PROJECT VARS USING BOOTSTRAP'S VALUES
//
// shortcut vars
$gutter: $grid-gutter-width;

// body text color
$body-bg: white;
$body-color: $color-body-text;