<!-- FOOTER: GLOBAL -->
<footer class="c-footer c-block">
	<div class="container">
		<div class="row mb-0 mb-md-5">
			<div class="col-12 col-lg-3 col-xl-2 mb-5 mb-md-0">
				<ul class="c-footer__nav">
					<li><a href="/layouts/general">About</a></li>
					<li><a href="/layouts/events">Events</a></li>
					<li><a href="/layouts/general">Private Dining</a></li>
					<li><a href="/layouts/general">FAQ</a></li>
					<li><a href="/layouts/menu">Menus</a></li>
				</ul>
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 offset-xl-1 mb-5 mb-md-0">
				<h3>Breakfast</h3>
				<p>
					Monday-Friday, 7-10 am<br />
					Saturday & Sunday, 7-10:30 am<br />
					A la carte and buffet available
				</p>
				<p>
					<a class="btn btn-outline-white" href="#">Breakfast Menu</a>
				</p>
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<h3>Lunch</h3>
				<p>
					Monday-Friday, 11:30 am-1:30 pm<br />
					Buffet available<br />
					$18.95 soup and salad, $21.95 full buffet
				</p>
				<p>
					<a class="btn btn-outline-white" href="#">Lunch Menu</a>
				</p>
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<h3>Dinner</h3>
				<p>
					Re-opening August 23<br />
					Tuesday-Saturday, 5-10 pm<br />
					Happy Hour, 5-6:30 pm
				</p>
				<p>
					<a class="btn btn-outline-white" href="#">Dinner Menu</a>
				</p>
			</div>
		</div>
		
		<!-- Newsletter Signup -->
		<div class="row mb-5">
			<div class="col">
				<h3 class="u-base-font fs-5 text-uppercase">Newsletter signup</h3>
				<form class="c-footer__optin row border mx-1 mx-sm-0">
					<div class="col-12 mb-3 mb-sm-0">
						<label for="optin-firstname" class="visually-hidden-focusable">First Name</label>
						<input id="optin-firstname" class="form-control" type="text" placeholder="First Name" />
					</div>
					
					<div class="col-12 mb-3 mb-sm-0">
						<label for="optin-lastname" class="visually-hidden-focusable">Last Name</label>
						<input id="optin-lastname" class="form-control" type="text" placeholder="Last Name" />
					</div>
					
					<div class="col-12 mb-3 mb-sm-0">
						<label for="optin-email" class="visually-hidden-focusable">Email</label>
						<input id="optin-email" class="form-control" type="email" placeholder="Your Email" />
					</div>
					
					<div class="col-12 d-grid gap-2">
						<button class="btn btn-primary btn-block" type="submit">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- Copyright -->
		<div class="row c-footer__copyright">
			<div class="col-12 col-sm-9">
				<p class="mb-0">
					<span class="d-block d-md-inline">The Carillon Restaurant</span>
					<span class="d-none d-md-inline mx-3">|</span>
					<span class="d-block d-md-inline">1900 University Ave., Austin, Texas</span>
					<span class="d-none d-md-inline mx-3">|</span>
					<span class="d-block d-md-inline">For reservations call <a href="tel:5124043655">512.404.3655</a></span> 
				</p>
			</div>
			
			<div class="col-12 col-sm-3 c-footer__social ms-auto text-sm-end mt-3 mt-sm-0">
				<a class="facebook" href="https://www.facebook.com/TheCarillonRestaurant" target="_blank" rel="noopener"><span>Connect with us on Facebook</span></a>
				<a class="twitter" href="https://twitter.com/carillonaustin" target="_blank" rel="noopener"><span>Follow us on Twitter</span></a>
				<a class="instagram" href="https://www.instagram.com/carillonaustin/" target="_blank" rel="noopener"><span>Follow us on Instagram</span></a>
			</div>
		</div>
	</div>
</footer>