<!-- FOOTER: GLOBAL -->
<footer class="c-footer c-block">
	<div class="container">
		<div class="row mb-0 mb-md-5 justify-content-between align-items-end">
			<div class="col-12 col-lg-4 mb-5 mb-md-0">
				<h3>Get the latest from Texas Methodist Foundation</h3>
				<form class="c-footer__optin row">
					<div class="col-12 col-md-auto col-lg-12 mb-3 mb-md-0 mb-lg-3">
						<label for="optin-name" class="visually-hidden-focusable">Your Name</label>
						<input id="optin-name" class="form-control" type="text" placeholder="Your Name" />
					</div>
					
					<div class="col-12 col-md-auto col-lg-12 mb-3 mb-md-0 mb-lg-3">
						<label for="optin-email" class="visually-hidden-focusable">Your Email</label>
						<input id="optin-email" class="form-control" type="email" placeholder="Your Email" />
					</div>
					
					<div class="col-12 col-md-3 col-lg-12 d-flex align-items-center">
						<button class="btn btn-sm btn-outline-white" type="submit">Sign Up</button>
					</div>
				</form>
			</div>
			
			<div class="col-12 col-md-6 col-lg-5 my-5 mb-md-0 text-center">
				<p>
					<img class="c-footer__logo-ii" src="/dist/img/logo-igniting-imagination-reverse.png" alt="Igniting Imagination Podcast logo" />
				</p>
				<p>
					<a class="btn btn-sm btn-outline-white" href="#">Listen to Our Podcast</a>
				</p>
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 my-5 mb-md-0 text-center">
				<h3>Make an Impact</h3>
				<p>
					<a class="btn btn-sm btn-outline-white d-md-grid" href="#">Give</a>
				</p>
				<p>
					<a class="btn btn-sm btn-outline-white d-md-grid" href="#">Invest</a>
				</p>
			</div>
		</div>
		
		<!-- Copyright -->
		<div class="row c-footer__copyright">
			<div class="col-12 col-sm-9">
				<p class="mb-0">
					<span class="d-block d-sm-inline">&copy;2022 Texas Methodist Foundation</span>
					<span class="d-none d-sm-inline mx-3">|</span>
					<span class="d-block d-sm-inline">
						<a href="#">Transparency in Coverage</a>
					</span>
					<span class="d-none d-sm-inline mx-3">|</span>
					<span class="d-block d-sm-inline">
						<a href="#">Terms of Use</a>
					</span>
					<span class="d-none d-sm-inline mx-3">|</span>
					<span class="d-block d-sm-inline">
						<a href="#">Privacy Policy</a>
					</span>
					<span class="d-none d-sm-inline mx-3">|</span>
					<span class="d-block d-sm-inline">
						<a href="#">Sitemap</a>
					</span>
				</p>
			</div>
			
			<div class="col-12 col-sm-3 c-footer__social ms-auto text-sm-end mt-3 mt-sm-0">
				<a class="facebook" href="https://www.facebook.com/txmethodistfdn" target="_blank" rel="noopener"><span>Facebook</span></a>
				<a class="instagram" href="https://www.instagram.com/tmfofficial/" target="_blank" rel="noopener"><span>Instagram</span></a>
				<a class="twitter" href="https://twitter.com/tmfministry" target="_blank" rel="noopener"><span>Twitter</span></a>
				<a class="vimeo" href="https://vimeo.com/texasmethodistfoundation" target="_blank" rel="noopener"><span>Vimeo</span></a>
				<a class="linkedin" href="https://www.linkedin.com/company/texasmethodistfoundation" target="_blank" rel="noopener"><span>LinkedIn</span></a>
			</div>
		</div>
	</div>
</footer>