<a id="top"></a>
<header class="c-header container-fluid sticky-top">
	<div class="row">
		<div class="c-header__nav col-12 order-xl-2">
			<nav class="navbar navbar-light navbar-expand-xl">
				<div class="container">
					<a class="c-header__branding navbar-brand" href="/layouts">
						<img src="/dist/img/logo-color.svg" alt="TMF logo" />
					</a>
					
					<button class="navbar-toggler c-header__hamburger" type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#nav-menu" 
						aria-controls="nav-menu" 
						aria-expanded="false" 
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse justify-content-md-end" id="nav-menu">
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Core Purpose</a>
									<a class="dropdown-item" href="#">Core Values</a>
									<a class="dropdown-item" href="#">Timeline</a>
									<a class="dropdown-item" href="#">Board & Staff</a>
									<a class="dropdown-item" href="#">Financials</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Area Representatives</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Work with an AR</a>
									<a class="dropdown-item" href="#">Hear a Story</a>
									<a class="dropdown-item" href="#">Contact an AR</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Leadership Ministry</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Meet the Team</a>
									<a class="dropdown-item" href="#">Resources</a>
									<a class="dropdown-item" href="#">Initiatives</a>
									<a class="dropdown-item" href="#">Podcast</a>
									<a class="dropdown-item" href="#">Support LM</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Grants</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Apply for a Grant</a>
									<a class="dropdown-item" href="#">Grant FAQs</a>
									<a class="dropdown-item" href="#">Hear a Story</a>
									<a class="dropdown-item" href="#">Grant Recipients</a>
									<a class="dropdown-item" href="#">Give to Grants</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Loans</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Hear a Story</a>
									<a class="dropdown-item" href="#">How Loans are Possible</a>
									<a class="dropdown-item" href="#">Loan Types</a>
									<a class="dropdown-item" href="#">Loan FAQs</a>
									<a class="dropdown-item" href="#">Loan Resources</a>
									<a class="dropdown-item" href="#">Apply</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Invest</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Hear a Story</a>
									<a class="dropdown-item" href="#">Investment Types</a>
									<a class="dropdown-item" href="#">Open an Account</a>
									<a class="dropdown-item" href="#">Investment Resources</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giving</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Give to TMF</a>
									<a class="dropdown-item" href="#">Donate Now</a>
									<a class="dropdown-item" href="#">Plan Your Philanthropy</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Stories/News</a>
							</li>
							<!-- VISIBLE ON MOBILE ONLY -->
							<li class="nav-item c-header__nav-item-mobile-only">
								<div class="nav-link">
									<a href="#">Login</a> | <a href="#">Contact</a>
								</div>
							</li>
							<li class="nav-item c-header__nav-item-mobile-only">
								<div class="nav-link">
									<a class="btn btn-sm btn-sand" href="#">Give</a> &nbsp; <a class="btn btn-sm btn-sand" href="#">Invest</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="c-header__top col-12 order-lg-1 d-none d-xl-flex">
			<div class="container">
				<div class="row justify-content-lg-between">
					<div class="c-header__top-nav col-md-auto ms-lg-auto d-lg-flex flex-lg-row align-items-lg-center">
						<a class="btn btn-sm btn-text" href="#">Login</a>
						<a class="btn btn-sm btn-text" href="#">Contact</a>
						<a class="btn btn-sm btn-primary ms-lg-3 px-4" href="#">Give</a>
						<a class="btn btn-sm btn-primary ms-lg-4 px-4" href="#">Invest</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
