{#
 # HOME PAGE
 #}
{% extends "_layout/default" %}

{# SET PAGE BODY CLASS #}
{# {% set bodyClass = "pagehead-nav-bleed" %} #}

{% block content %}


<!-- PAGE HEADER: IMG+TEXT
<section class="c-block c-block--bg-taupe-light">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-5 mb-5 mb-lg-0">
				<img class="img-fluid w-100" src="/uploads/images/IMG_4127.jpg" alt="" />
			</div>
			
			<div class="col-12 col-lg-7 ps-lg-5">
				<h1 class="c-pagehead__heading">Page Heading With Photo.</h1>
				
				<div class="lead">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem.</p>
				</div>
				<p>
					<a class="btn btn-taupe" href="#">Call To Action</a>
				</p>
			</div>
		</div>
	</div>
</section>
-->

<!-- PAGE HEADER: BG PHOTO -->
<section class="c-block c-block--text-white" style="background:url('/uploads/images/II_Gradiant_16-9.png') center center no-repeat;background-size:cover;">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-7 ps-lg-5">
				<h1 class="c-pagehead__heading">Page Heading With Photo.</h1>
				
				<div class="lead">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem.</p>
				</div>
				<p>
					<a class="btn btn-outline-white" href="#">Call To Action</a>
				</p>
			</div>
		</div>
	</div>
</section>


<!-- ACCORDION BLOCK -->
<section class="c-block">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<h2 class="mb-5">Frequently Asked Questions</h2>
				
				<div class="accordion" id="accordion-1">
					<div class="accordion-item">
						<h2 class="accordion-header" id="accordion-heading-1">
							<button class="accordion-button" type="button" 
								data-bs-toggle="collapse" 
								data-bs-target="#accordion-panel-1" 
								aria-expanded="true" 
								aria-controls="accordion-panel-1">
								Dietary Restrictions
							</button>
						</h2>
						<div id="accordion-panel-1" class="accordion-collapse collapse show" aria-labelledby="accordion-heading-1" data-bs-parent="#accordion-1">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio. Nunc vel pellentesque velit, vitae lacinia lacus. Duis fermentum non sapien vitae iaculis. Sed viverra, tellus elementum hendrerit commodo, lacus erat consectetur diam, vitae bibendum massa nunc non diam. Donec facilisis tortor massa, non sollicitudin diam rhoncus eget. Quisque vehicula hendrerit urna, sit amet placerat felis vestibulum eget. Curabitur id enim eget eros faucibus ornare a sed magna. Donec et arcu arcu. Nullam accumsan consequat felis tempor lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.</p>
							</div>
						</div>
					</div>
					
					<div class="accordion-item">
						<h2 class="accordion-header" id="accordion-heading-2">
							<button class="accordion-button collapsed" type="button" 
								data-bs-toggle="collapse" 
								data-bs-target="#accordion-panel-2" 
								aria-expanded="false" 
								aria-controls="accordion-panel-2">
								Reservations
							</button>
						</h2>
						<div id="accordion-panel-2" class="accordion-collapse collapse" aria-labelledby="accordion-heading-2" data-bs-parent="#accordion-1">
							<div class="accordion-body">
								<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti. Nullam et lacinia dolor. Praesent nec imperdiet turpis, a auctor nunc. Quisque tincidunt vulputate lacus non vehicula. Vestibulum euismod ligula at nisi bibendum pretium. Duis varius luctus quam non efficitur. Etiam maximus mauris urna, ac bibendum nunc interdum a. Nullam convallis sapien et libero accumsan, non vehicula felis dapibus.</p>
								
								<p>Phasellus in odio nec velit malesuada fermentum eu eget eros. Vestibulum eu felis feugiat, ornare magna non, bibendum turpis. Curabitur pretium at justo et tincidunt. Donec sed velit ac eros auctor luctus. Aliquam posuere scelerisque tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lectus risus, scelerisque vitae euismod sed, elementum id urna. Curabitur maximus nibh ac tortor egestas feugiat. In nec quam in lorem volutpat aliquam. Fusce elementum tincidunt sapien a viverra.</p>
							</div>
						</div>
					</div>
					
					<div class="accordion-item">
						<h2 class="accordion-header" id="accordion-heading-3">
							<button class="accordion-button collapsed" type="button" 
								data-bs-toggle="collapse" 
								data-bs-target="#accordion-panel-3" 
								aria-expanded="false" 
								aria-controls="accordion-panel-3">
								Parking
							</button>
						</h2>
						<div id="accordion-panel-3" class="accordion-collapse collapse" aria-labelledby="accordion-heading-3" data-bs-parent="#accordion-1">
							<div class="accordion-body">
								<p>Nunc elementum pellentesque mollis. Integer placerat, odio non suscipit feugiat, sapien eros egestas nulla, sit amet placerat nunc ligula eget felis. Suspendisse euismod iaculis ornare. Cras lectus arcu, rutrum bibendum sollicitudin tincidunt, fermentum et purus. Curabitur est risus, ultrices at nibh sed, sodales condimentum ante. Cras finibus dolor erat, vitae hendrerit lectus interdum eu. Pellentesque condimentum fermentum ex, at scelerisque urna suscipit sed.</p>
								
								<p>Fusce placerat sem quis erat rhoncus, a pretium lacus mattis. Phasellus ac eleifend ante, id bibendum velit. Integer pellentesque viverra rutrum. Aliquam eleifend in diam ac commodo. Mauris ornare justo sem, vel interdum nibh mollis in. In nunc arcu, hendrerit convallis pretium ut, egestas a leo. Duis vel lacinia eros.</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>



{% endblock %}
