{#
 # HOME PAGE
 #}
{% extends "_layout/default" %}

{# SET PAGE BODY CLASS #}
{# {% set bodyClass = "pagehead-nav-bleed" %} #}

{% block content %}


<!-- PANEL BLOCK: LEFT -->
<section class="c-block" style="background:url('/uploads/images/About1.jpg') center center no-repeat;background-size:cover;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-11 col-lg-10">
			
				<div class="row justify-content-md-start">
					<div class="col-12 col-md-10 col-lg-8">
						<div class="c-panel__content d-flex flex-column align-items-start">
							<div class="mb-auto text-white">
								<h2 class="c-panel__heading text-white">Panel Heading Example</h2>
								<h3 class="c-panel__subheading text-white">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
								<p>This is an example landing page showing various "panel" styles and other block types which could be used to build out your landing pages. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem.</p>
							</div>
							
							<div>
								<p>
									<a class="btn btn-secondary" href="#">Call To Action</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>


<!-- IMG+TEXT: IMG LEFT -->
<section class="c-block c-block--bg-blue-light c-block--text-navy">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				
				<div class="row align-items-center gx-lg-5">
					<div class="col-12 col-lg-6 col-xl-7 mb-3 mb-md-0">
						<img class="img-fluid w-100" src="/uploads/images/13920241_1056973387711969_5866507262545827697_o.jpg" alt="" />
					</div>
					
					<div class="col-12 col-lg col-xl-5">
						<h2 class="c-panel__heading">Image+Text Block</h2>
						<h3 class="c-panel__subheading">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
						<p>I suggest separating "background photo panels" with Image+Text blocks like this. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio.</p>
						<p>
							<a class="btn btn-primary" href="#">Call To Action</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>


<!-- IMG+TEXT: IMG RIGHT -->
<section class="c-block c-block--bg-green-light c-block--text-green">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				
				<div class="row align-items-center gx-5">
					<div class="col-12 col-md-7 mb-3 mb-md-0 order-md-2">
						<img class="img-fluid w-100" src="/uploads/images/50059612627_7a5f4904b4_c.jpg" alt="" />
					</div>
					
					<div class="col-12 col-md-5 order-md-1 text-md-end">
						<h2 class="c-panel__heading">Image+Text Block</h2>
						<h3 class="c-panel__subheading">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio.</p>
						<p>
							<a class="btn btn-tertiary" href="#">Call To Action</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>


<!-- PANEL BLOCK: RIGHT -->
<section class="c-block" style="background:url('/uploads/images/andres-sanz-uILhNE1VcwA-unsplash.jpg') center center no-repeat;background-size:cover;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-11 col-lg-10">
		
				<div class="row justify-content-md-end">
					<div class="col-12 col-md-10 col-lg-8">
						<div class="c-panel__content d-flex flex-column justify-content-between">
							<div class="text-white text-md-end">
								<h2 class="c-panel__heading text-white">Panel Heading Example</h2>
								<h3 class="c-panel__subheading text-white">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio.</p>
							</div>
							
							<div class="text-md-end">
								<p>
									<a class="btn btn-outline-white" href="#">Call To Action</a>
								</p>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>
</section>


<!-- IMG+TEXT: IMG RIGHT -->
<section class="c-block c-block--bg-taupe-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				
				<div class="row align-items-center gx-5">
					<div class="col-12 col-md-7 mb-3 mb-md-0 order-md-2">
						<img class="img-fluid w-100" src="/uploads/images/DSC_3206BenchessmallBW_030.jpg" alt="" />
					</div>
					
					<div class="col-12 col-md-5 order-md-1 text-md-end">
						<h2 class="c-panel__heading">Image+Text Block</h2>
						<h3 class="c-panel__subheading">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio.</p>
						<p>
							<a class="btn btn-taupe" href="#">Call To Action</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>


<!-- PANEL BLOCK: RIGHT -->
<section class="c-block" style="background:url('/uploads/images/CrouchBanner-copy.png') center center no-repeat;background-size:cover;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-11 col-lg-10">
		
				<div class="row justify-content-md-end">
					<div class="col-12 col-md-8 col-lg-7">
						<div class="c-panel__content d-flex flex-column justify-content-between">
							<div class="text-white text-md-end">
								<h2 class="c-panel__heading text-white">Panel Heading Example</h2>
								<h3 class="c-panel__subheading text-white">Subheading lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio.</p>
							</div>
							
							<div class="text-md-end">
								<p>
									<a class="btn btn-tertiary" href="#">Call To Action</a>
								</p>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>
</section>



{% endblock %}
