/.env*
/.idea
/vendor
.DS_Store

src/node_modules

vendor
storage/backups/*
storage/config-deltas/*
storage/logs/*
storage/runtime/*

web/uploads/*
web/transforms/*
web/cpresources/*

public/uploads/*
public/transforms/*
public/cpresources/*