/.idea
.DS_Store
.notes
!assets/scss/vendor

# Build
# from yarn/webpack assets
.cache-loader
/public/build
/public/mix-manifest.json
node_modules
npm-debug.log
yarn-error.log
resources/assets/config-local.json
*.map

# CRAFT CMS
.env*
/vendor
/storage
/public/cpresources/*

# User uploads
/public/uploads



