/**
 * CALL TO ACTION BLOCK
 */
@include component('cta') {
	
	@include element('description') {
		padding: $gutter;
		@extend %first-last-child;
		
		& > div {
			@extend %first-last-child;
		}
		
		@include media-breakpoint-up(lg) {
			padding: $gutter*2;
		}
		
		&.u-bg-slate,
		&.u-bg-orange,
		&.u-bg-blue,
		&.u-bg-green,
		&.u-bg-turquoise {
			h1, h2, h3, h4, a:not(.btn) {
				color: white;
			}
			.u-color-default {
				color: white !important;
			}
			
			a:not(.btn):hover {
				color: white;
			}
		}
	}
	
	@include element('img-panel') {
		position: relative;;
		
		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}