/**
 * EVENT
 */
@include component('event') {
	
	@include element('listing') {
		position: relative;
		
		a {
			text-decoration: none;
		}
	}
	
	@include element('listing-thumb') {
		&.b-orange {
			img {
				border-bottom: 10px solid #F8971F;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid #F8971F;
				}
			}
		}
		
		&.b-blue {
			img {
				border-bottom: 10px solid #00A9B7;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid #00A9B7;
				}
			}
		}
		
		&.b-green {
			img {
				border-bottom: 10px solid #A6CD57;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid #A6CD57;
				}
			}
		}
		
		&.b-turquoise {
			img {
				border-bottom: 10px solid $color-turquoise;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid $color-turquoise;
				}
			}
		}
		
		&.b-gold {
			img {
				border-bottom: 10px solid #FFD600;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid #FFD600;
				}
			}
		}
		
		&.b-sand {
			img {
				border-bottom: 10px solid $color-sand;
				
				@include media-breakpoint-up(md) {
					border-bottom: none;
					border-right: 10px solid $color-sand;
				}
			}
		}

	}
}