/**
 * ICONS
 */
@include component('icon') {
	@extend %reset-button;
	position: relative;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	text-decoration: none;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	&:hover {
		text-decoration: none;
	}
	
	//
	// ICON MODIFIERS
	// .c-icon--search
	@include modifier('search') {
		background-image: url('/dist/img/icon-search-tan.svg');
	}
	@include modifier('user') {
		background-image: url('/dist/img/icon-user.svg');
	}
	@include modifier('facebook') {
		background-image: url('/dist/img/icon-facebook-tan.svg');
	}
	@include modifier('facebook-white') {
		background-image: url('/dist/img/icon-facebook-white.svg');
	}
	@include modifier('instagram') {
		background-image: url('/dist/img/icon-instagram-tan.svg');
	}
	@include modifier('instagram-white') {
		background-image: url('/dist/img/icon-instagram-white.svg');
	}
	@include modifier('youtube') {
		background-image: url('/dist/img/icon-youtube-tan.svg');
	}
	@include modifier('youtube-white') {
		background-image: url('/dist/img/icon-youtube-white.svg');
	}
	@include modifier('linkedin') {
		background-image: url('/dist/img/icon-linkedin-tan.svg');
	}
	@include modifier('linkedin-white') {
		background-image: url('/dist/img/icon-linkedin-white.svg');
	}
	@include modifier('impact-investing') {
		background-image: url('/dist/img/icon-impact-investing-tan.svg');
	}
	@include modifier('impact-investing-white') {
		background-image: url('/dist/img/icon-impact-investing-white.svg');
	}
	@include modifier('loans') {
		background-image: url('/dist/img/icon-loans-tan.svg');
	}
	@include modifier('loans-white') {
		background-image: url('/dist/img/icon-loans-white.svg');
	}
	@include modifier('philanthropy') {
		background-image: url('/dist/img/icon-philanthropy-tan.svg');
	}
	@include modifier('philanthropy-white') {
		background-image: url('/dist/img/icon-philanthropy-white.svg');
	}
	@include modifier('grants') {
		background-image: url('/dist/img/icon-grants-tan.svg');
	}
	@include modifier('grants-white') {
		background-image: url('/dist/img/icon-grants-white.svg');
	}
	@include modifier('area-representatives') {
		background-image: url('/dist/img/icon-area-representatives-tan.svg');
	}
	@include modifier('area-representatives-white') {
		background-image: url('/dist/img/icon-area-representatives-white.svg');
	}
	@include modifier('leadership-ministry') {
		background-image: url('/dist/img/icon-leadership-ministry-tan.svg');
	}
	@include modifier('leadership-ministry-white') {
		background-image: url('/dist/img/icon-leadership-ministry-white.svg');
	}
}