{##
 # NEO BLOCK TYPE: BLOCKQUOTE
 #}
{% set bgPhoto = '' %}
{% if block.backgroundPhoto|length %}
	{% set img = block.backgroundPhoto.one %}
	{% set bgPhoto = ' style="background:url(' ~ img.url('responsiveLarge') ~ ') center center no-repeat;background-size:cover;"' %}
{% endif %}
<section class="c-block c-block--quote c-block--{{ block.backgroundColor }}"{{ bgPhoto | raw }}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8 col-md-10">
				<blockquote class="text-center">
					{{ block.quote }}
					{% if block.citation is defined and block.citation != '' %}<cite>- {{ block.citation }} -</cite>{% endif %}
				</blockquote>
				{% if block.caption is defined and block.caption != '' %}<p class="text-center u-color-white">{{ block.caption }}</p>{% endif %}
			</div>
		</div>
	</div>
</section>
