{##
 # NEO BLOCK TYPE: MEDIA+TEXT
 #}
{% if block.imageDesktop is defined and block.imageDesktop | length %}
	{% set imgDesktop    = block.imageDesktop.one %}
	{% set imgDesktopSrc = imgDesktop.url('responsiveMedium') %}
	{% set imgDesktopAlt = imgDesktop.alt ?: imgDesktop.caption %}
{% endif %}

{% if block.imageMobile is defined and block.imageMobile | length %}
	{% set imgMobile    = block.imageDesktop.one %}
	{% set imgMobileSrc = imgMobile.url('responsiveSmall') %}
	{% set imgMobileAlt = imgMobile.alt ?: imgMobile.caption %}
{% endif %}
<section class="c-block{% if sectionStyleClasses is defined and sectionStyleClasses != '' %} {{ sectionStyleClasses }}{% endif %}">
	<div class="container">
		<div class="row{% if block.paddingSides is defined and block.paddingSides == '1' %} justify-content-center{% endif %}">
			<div class="col-12{% if block.paddingSides is defined and block.paddingSides == '1' %} col-md-10 col-lg-8{% endif %}">
				<div class="row">
					<div class="col-12 col-md-6 mb-4 mb-md-0{% if block.imagePositionLR == 'right' %} order-md-2{% endif %}">
						{% if block.videoUrl != '' %}
							<div class="js-fitvids">
							{% if block.videoUrl.media.providerName | lower == 'youtube' %}
								{% set videoId = block.videoUrl.media.url | youtubeId %}
								<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ videoId }}" title="{{ block.videoUrl.media.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							{% else %}
								{{ craft.oembed.render(block.videoUrl) }}
							{% endif %}
							</div>
						{% elseif block.imageDesktop | length and block.imageMobile | length %}
							<p class="d-md-none"><img class="img-fluid" src="{{ imgMobileSrc }}" alt="{{ imgMobileAlt }}" /></p>
							<p class="d-none d-md-block"><img class="img-fluid" src="{{ imgDesktopSrc }}" alt="{{ imgDesktopAlt }}" /></p>
						{% elseif block.imageDesktop | length %}
							<p><img class="img-fluid" src="{{ imgDesktopSrc }}" alt="{{ imgDesktopAlt }}" /></p>
						{% endif %}
					</div>
					
					<div class="col-12 col-md-6{% if block.imagePositionLR == 'right' %} order-md-1{% endif %}">
						{% include "_fields/headingBlock" with {'heading': block.headingBlock, 'class': 'mb-4'} %}
						{{ block.description }}
						{% if block.button | length %}
						{% set btnColor = block.buttonColor == 'default' ? 'blue' : block.buttonColor %}
						<p>{% include "_fields/button" with {'button': block.button, 'color': btnColor} %}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>