/**
 * ACCORDION
 */
.accordion-item {
	border-left: none;
	border-right: none;
}
.accordion-button {
	border-left: none;
	border-right: none;
	@include font-heading;
	//font-size: 120%;
	//color: $color-black;
	@include animate;
	
	//&:not(.collapsed) {
	//	color: $color-black;
	//}
	
	&:hover {
		color: $color-blue;
	}
}