/**
 * ACCORDION
 */
.accordion-item {
	border-left: none;
	border-right: none;
}
.accordion-button {
	border-left: none;
	border-right: none;
	//@include base-font-semibold;
	
	&:hover {
		color: map-get($theme-colors, 'secondary');
	}
	
	&:after {
		width: 37px;
		height: 37px;
		background-image: url('/dist/img/icon-circle-plus.svg');
		background-repeat: no-repeat;
		background-size: 37px;
		transform: none;
		//@include animate;
	}
	
	&:not(.collapsed) {
		color: map-get($theme-colors, 'primary');
		background-color: transparent;
		box-shadow: none;
		
		&:after {
			transform: none;
			background-image: url('/dist/img/icon-circle-minus.svg');
		}
	}
}