/**
 * BIO CARD
 */
@include component('bio-card') {
	$height-card: 400px;
	
	position: relative;
	height: $height-card;
	background-color: map-get($theme-colors, 'tertiary');
	border-radius: $border-radius;
	
	//display: flex;
	//flex-direction: column;
	//justify-content: flex-end;
	
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $height-card * .75;
		background-image: linear-gradient(
			rgba(map-get($theme-colors, 'primary'), 0) 0%, 
			rgba(map-get($theme-colors, 'primary'), 1) 100%);
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		@include animate;
	}
	
	@include media-breakpoint-up(lg) {
		&:hover {
			&:before {
				height: $height-card;
				background-image: linear-gradient(
					rgba(map-get($theme-colors, 'primary'), 0) 0%, 
					rgba(map-get($theme-colors, 'primary'), 1) 75%);
			}
			
			.c-story-card__play {
				transform: scale(.8);
			}
		}
	}
	
	@include element('content') {
		position: absolute;
		display: block;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		padding: $gutter;
		text-align: center;
		color: white;
		
		.btn-outline-secondary {
			color: white;
		}
		
		.stretched-link {
			text-decoration: none;
		}
		
		@include media-breakpoint-down(sm) {
			font-size: 85%;
		}
	}
	
	@include element('heading') {
		color: white;
		font-size: 24px;
		
		@include media-breakpoint-down(sm) {
			font-size: 20px;
			line-height: 1;
		}
	}
	
	@include element('play') {
		transform: scale(.75);
		@include animate;
	}
}