/**
 * GENERAL CONTENT BLOCK
 */
@include component('block') {
	position: relative;
	@extend %block-padding;
	
	[class*="col"] {
		@extend %first-last-child;
	}
	
	@include modifier('no-padding-bottom') {
		padding-bottom: 0;
	}
	
	@include modifier('no-padding-top') {
		padding-top: 0;
	}
	
	@include element('content') {
		@extend %first-last-child;
	}
	
	@include modifier('decorator-top') {
		position: relative;
		padding-top: $gutter*6;
		
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 30px;
			height: 200px;
			top: 0;
			left: 50%;
			background: url("/dist/img/section-connector.svg") center bottom no-repeat;
			background-size: contain;
			transform: translate(-50%, $gutter);
			@include z-1;
		}
	}

	a:not(.btn) {
		color: darken(map-get($theme-colors, 'secondary'), 10%);
	}
	
	
	//
	// BACKGROUND COLORS
	//
	&.bg-navy,
	&.bg-tan,
	&.bg-primary,
	&.bg-secondary {
		color: white;
		
		h1, h2, h3, h4, a:not(.btn) {
			color: white;
		}
		.u-color-default {
			color: white !important;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
}