/**
 * BOOTSTRAP BUTTON OVERRIDES
 *
 * Use Bootstrap's .btn class for a basic button
 */
 
.btn {
	@include base-font-medium;
	letter-spacing: .1em;
	text-transform: uppercase;

	// pill button
	line-height: 1em;
	border-radius: 3em;
	border-width: 2px;
	padding: .75em 1.5em;
}
.btn-secondary {
	color: white;
	
	&:hover {
		color: white;
	}
}
.btn-outline-secondary {
	color: map-get($theme-colors, 'primary');
	
	&:hover {
		color: white;
	}
}
/*
.btn-arrow {
	position: relative;
	padding-right: 2em;
	
	&:after {
		content: "";
		position: absolute;
		display: block;
		top: 50%;
		right: $spacer/1.2;
		transform: translate(0, -50%);
		width: 1em;
		height: .5em;
		background: url('/assets/icon/arrow-right-blue.svg') right center no-repeat;
		background-size: contain;
		@include animate;
	}
	&:hover:after {
		right: $spacer/2;
	}
}
*/

.btn-shadow {
	box-shadow: 2px 2px 6px 3px rgba(black, .1);
}

.btn-sm {
	font-size: 14px;
	padding: 0.5em 1em;
}

/*
.btn-pill {
	line-height: 1em;
	border-radius: 3em;
	border-width: 2px;
	padding: .75em 1.5em;
}
*/