/**
 * CARD
 */
@include component('card') {

	@include element('img') {
		@include media-breakpoint-up(md) {
			opacity: 1;
			@include animate;

			&:hover {
				opacity: .75;
			}
		}
	}

	@include element('date') {
		@include base-font-medium;
		font-size: 75%;
		letter-spacing: .075em;
		text-transform: uppercase;
		opacity: .5;
	}
}