/**
 * DATA TABLE
 */
@include component('data-table') {
	$padding-bottom: 80px;
	
	@include element('card') {
		position: relative;
		display: block;
		width: 100%;
		padding: $gutter $gutter $padding-bottom*2 $gutter;
		background-color: rgba(map-get($theme-colors, 'secondary'), .25);
		
		@include media-breakpoint-up(lg) {
			padding: $gutter*2 $gutter*2 $padding-bottom*2 $gutter*2;
		}
		
		&:before {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			height: $padding-bottom;
			background: url('/dist/img/tile.svg') center center repeat-x;
			background-size: $padding-bottom;
		}
	}
	
	@include element('card-thumb') {
		position: absolute;
		display: block;
		width: $padding-bottom * 1.5;
		height: auto;
		bottom: $padding-bottom * .25;
		right: $padding-bottom/2;
		@include z-1;
	}
}