/**
 * FACTOID
 */
@include component('factoid') {
	
	@include element('3up') {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		gap: $gutter;

		@include modifier('left') {
			.c-factoid__3up-col-1 {
				order: 2;
			}
			.c-factoid__3up-col-2 {
				order: 1;
			}
		}
	}
	
	@include element('3up-col-1') {
		flex: 0 1 45%;
	}

	@include element('3up-col-2') {
		flex: 0 1 55%;
	}

	@include element('3up-stack') {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: $gutter;
	}
}