/**
 * FAQ'S
 */
@include component('faqs') {
	
	@include element('tab') {
		background-color: $color-blue;
		color: white;
		text-transform: uppercase;
		
		&.active {
			background-color: $color-silver !important;
		}
	}
	
	& .tab-pane > .c-accordion > .c-accordion__toggle:not(:first-of-type) {
		margin-top: 1em;
	}
}