/**
 * FOOTER
 */
@include component('footer') {
	position: relative;
	color: white;
	background-image: linear-gradient(
		to right, 
		map-get($theme-colors, 'primary') 0%, 
		map-get($theme-colors, 'tertiary') 100%);
	
	.h1 {
		line-height: 1em;
	}
	
	@include element('subhead') {
		@extend h3;
		font-size: 20px;
		color: white;
		line-height: 1.5em;
	}
	
	@include element('cta') {
		a {
			color: map-get($theme-colors, 'secondary');
			text-decoration: none;
			@include animate;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	@include element('bottom') {
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
		background-color: darken(map-get($theme-colors, 'primary'), 10%);
		
		p {
			margin: 0;
			line-height: 1em;
		}
		
		a {
			color: white;
		}
		
		@include media-breakpoint-up(sm) {
			p {
				line-height: 35px;
			}
		}
	}
	
	@include element('nav') {
		li {
			margin-bottom: .75em;
		}
		a {
			color: white;
			text-decoration: none;
			@include animate;
			
			&:hover {
				color: map-get($theme-colors, 'secondary');
				text-decoration: underline;
			}
		}
	}
	
	@include element('branding') {
		position: relative;
		display: block;
		max-width: 175px;
		height: auto;
	}
	
	@include element('optin') {
		input[type="email"] {
			border: none;
			border-radius: 0;
			background-color: transparent;
			border-bottom: 2px solid map-get($theme-colors, 'secondary');
			color: white;
		}
		
		.btn {
			transform: scale(.8);
			
			@include media-breakpoint-up(sm) {
				transform: none;
			}
		}
	}
	
	@include element('social') {
		&:not(:last-of-type) {
			margin-right: .5em;
		}
	}
}