/**
 * FOOTER
 */
@include component('footer') {
	position: relative;
	color: map-get($theme-colors, 'primary');
	background-color: map-get($theme-colors, 'secondary');
	
	@include element('heading') {
		line-height: 1em;
		letter-spacing: .15em;
	}

	@include element('list-heading') {
		text-transform: uppercase;
		letter-spacing: .15em;
		color: rgba(white, .65);
	}

	
	@include element('bottom') {
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
		color: rgba(white, .25);
		background-color: darken(map-get($theme-colors, 'secondary'), 10%);
		
		p {
			margin: 0;
			line-height: 1em;
		}
		
		a {
			@include animate;
			color: rgba(white, .25);

			&:hover {
				color: rgba(white, .5);
				text-decoration: none;
			}
		}
		
		@include media-breakpoint-up(sm) {
			p {
				line-height: 35px;
			}
		}
	}
	
	@include element('nav') {
		li {
			margin-bottom: .75em;
		}
		a {
			color: map-get($theme-colors, 'primary');
			text-decoration: none;
			@include animate;
			
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
	
	@include element('optin') {
		input[type="email"],
		input[type="text"] {
			background-color: rgba(white, .2);
			border-color: transparent;
			border-width: 2px;
			outline: none;

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: rgba(white, .5);
				opacity: 1; /* Firefox */
			}
			
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: rgba(white, .5);
			}
			
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: rgba(white, .5);
			}

			&:focus {
				border-color: white;
				background-color: rgba(white, .5);
				box-shadow: none;
			}
		}
		
		.btn {
			transform: scale(.8);
			
			@include media-breakpoint-up(sm) {
				transform: none;
			}
		}
	}
	
	@include element('social') {
		@include animate;
		opacity: .5;

		&:not(:last-of-type) {
			margin-right: .5em;
		}

		&:hover {
			opacity: 1;
		}
	}
}