/**
 * HEADER
 */

@include component('header') {
	$height-top-large: 60px;
	$height-nav-small: 60px;
	$height-nav-large: 100px;
	$bg-megamenu-features: lighten(map-get($theme-colors, 'secondary'), 35%);

	color: white;
	background-color: map-get($theme-colors,'white');
	//padding-top: $gutter/2;
	//padding-bottom: $gutter/2;
	
	@include media-breakpoint-up(xxl) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	
	@include element('hamburger') {
		background-color: map-get($theme-colors,'primary');
		color: white;
		border: none;
		padding-left: 0;
		padding-right: 0;
		
		// slate toggler icon rgba(255,255,255)
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
		}
	}
	
	//
	// BRANDING
	//
	@include element('branding') {
		position: relative;
		padding: 0;
		margin-left: $gutter;
		margin-right: $gutter;
		
		img {
			position: relative;
			display: block;
			width: auto;
			height: 30px;
			
			@include media-breakpoint-up(xxl) {
				height: 60px;
				//margin-left: $gutter * .75;
			}
			@include media-breakpoint-between(sm, xxl) {
				height: 40px;
			}
		}
	}
	
	//
	// NAVBAR
	//
	@include element('nav') {
		.nav-link {
			font-size: 14px;
			padding-left: 1em;
			padding-right: 1em;
			white-space: nowrap;
			color: map-get($theme-colors, 'primary');
			@include animate;

			&:hover,
			&.active,
			&[aria-expanded="true"] {
				color: map-get($theme-colors, 'secondary');
			}

			&[aria-expanded="true"] {
				position: relative;

				&:after {
					content: "";
					position: absolute;
					display: block;
					top: 100%;
					left: 50%;
					transform: translate(-50%, $gutter);
					@include triangle('up', 12px, $bg-megamenu-features);
				}
			}
		}
	}
	@include element('utility') {
		.nav-link.btn {
			font-size: 12px;
			padding: 1em 2em;
			margin-left: 1em;
		}

		button.nav-link {
			@extend %reset-button;
		}
	}


	//
	// MEGA MENUS
	//
	@include element('desktop') {
		position: relative;
	}
	@include element('mega-toggle') {
		button {
			@extend %reset-button;
			font-size: 14px;
			padding: var(--bs-nav-link-padding-y) 1em;
			white-space: nowrap;
			color: map-get($theme-colors, 'primary');
			@include animate;

			&:hover,
			&.active {
				color: map-get($theme-colors, 'secondary');
			}
		}
	}
	@include element('mega-menu') {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		width: map-get($container-max-widths, 'lg');
		background-color: white;
		color: map-get($theme-colors, 'primary');

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				margin: 0 0 .5em 0;
				padding: 0;
				list-style-type: none;
			}
		}

		a {
			color: map-get($theme-colors, 'primary');
			text-decoration: none;
			@include animate;

			&:hover {
				color: map-get($theme-colors, 'secondary');
			}
		}
	}
	@include element('mega-menu-features') {
		padding: $gutter * 1.5;
		background-color: $bg-megamenu-features;
		color: map-get($theme-colors, 'secondary');

		a {
			color: map-get($theme-colors, 'secondary');
			text-decoration: none;
			@include animate;

			&:hover {
				color: map-get($theme-colors, 'primary');
			}
		}
	}


	//
	// MOBILE HEADER
	//
	@include element('mobile') {
		& > .row {
			padding-top: $gutter/2;
			padding-bottom: $gutter/2;
			padding-left: $gutter;
			padding-right: $gutter;
			border-bottom: 1px solid map-get($theme-colors, 'secondary');

			&:first-of-type {
				padding-bottom: $gutter/2;
			}
		}

		.c-header__branding {
			display: block;
			margin-left: $gutter/2;
			margin-right: auto;

			img {
				transform: scale(1.2);
			}
		}
		
		button > .c-icon--search {
			transform: translateY(0);
		}

		.nav-link {
			position: relative;
			letter-spacing: .1em;

			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 1px;
				height: 1em;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background-color: map-get($theme-colors, 'primary');
			}
		}

		nav .nav-item:last-of-type {
			margin-left: .75em;
		}
	}
	@include element('menu-toggle') {
		border-radius: $gutter/3 !important;
		padding: $gutter/5 $gutter/3 !important;

		@include media-breakpoint-up(sm) {
			padding: $gutter/3 $gutter/2 !important;
		}
	}
}