/**
 * HEADER
 */

@include component('header') {
	$height-top-large: 60px;
	$height-nav-small: 60px;
	$height-nav-large: 100px;
	$bg-megamenu-features: lighten(map-get($theme-colors, 'secondary'), 37%);

	color: white;
	background-color: map-get($theme-colors,'white');
	//padding-top: $gutter/2;
	//padding-bottom: $gutter/2;
	
	@include media-breakpoint-up(xxl) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	
	@include element('hamburger') {
		background-color: map-get($theme-colors,'primary');
		color: white;
		border: none;
		padding-left: 0;
		padding-right: 0;
		
		// slate toggler icon rgba(255,255,255)
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
		}
	}
	
	//
	// BRANDING
	//
	@include element('branding') {
		position: relative;
		padding: 0;
		margin-left: $gutter;
		margin-right: $gutter;
		
		img {
			position: relative;
			display: block;
			width: auto;
			height: 30px;
			
			@include media-breakpoint-up(xxl) {
				height: 60px;
				//margin-left: $gutter * .75;
			}
			@include media-breakpoint-between(sm, xxl) {
				height: 40px;
			}
		}
	}
	
	//
	// NAVBAR
	//
	@include element('nav') {
		.nav-link {
			font-size: 14px;
			padding-left: .9em;
			padding-right: .9em;
			white-space: nowrap;
			color: map-get($theme-colors, 'primary');
			@include animate;

			&:hover,
			&.active,
			&[aria-expanded="true"] {
				color: map-get($theme-colors, 'secondary');
			}

			&[aria-expanded="true"] {
				position: relative;

				&:after {
					content: "";
					position: absolute;
					display: block;
					top: 100%;
					left: 50%;
					transform: translate(-50%, $gutter);
					@include triangle('up', 12px, $bg-megamenu-features);
				}
			}
		}
	}
	@include element('utility') {
		.nav-link.btn {
			font-size: 12px;
			padding: 1em 2em;
			margin-left: 1em;
		}

		button.nav-link {
			@extend %reset-button;
		}
	}


	//
	// MEGA MENUS
	//
	@include element('desktop') {
		position: relative;
	}
	@include element('mega-toggle') {
		button {
			@extend %reset-button;
			font-size: 14px;
			padding: var(--bs-nav-link-padding-y) 1em;
			white-space: nowrap;
			color: map-get($theme-colors, 'primary');
			@include animate;

			&:hover,
			&.active {
				color: map-get($theme-colors, 'secondary');
			}
		}
	}
	@include element('mega-menu') {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		width: map-get($container-max-widths, 'lg');
		background-color: white;
		color: map-get($theme-colors, 'primary');

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				margin: 0 0 .5em 0;
				padding: 0;
				list-style-type: none;
			}
		}

		a {
			color: map-get($theme-colors, 'primary');
			text-decoration: none;
			@include animate;

			&:hover {
				color: map-get($theme-colors, 'secondary');
			}
		}
	}
	@include element('mega-menu-features') {
		padding: $gutter * 1.5;
		background-color: $bg-megamenu-features;
		color: map-get($theme-colors, 'secondary');

		a {
			color: map-get($theme-colors, 'secondary');
			text-decoration: none;
			@include animate;

			&:hover {
				color: map-get($theme-colors, 'primary');
			}
		}
	}


	//
	// MOBILE HEADER
	//
	@include element('mobile') {
		& > .row {
			padding-top: $gutter/2;
			padding-bottom: $gutter/2;
			padding-left: $gutter;
			padding-right: $gutter;
			border-bottom: 1px solid map-get($theme-colors, 'secondary');

			&:first-of-type {
				padding-bottom: $gutter/2;
			}
		}

		.c-header__branding {
			display: block;
			margin-left: $gutter/2;
			margin-right: auto;

			img {
				transform: scale(1.2);
			}
		}
		
		button > .c-icon--search {
			transform: translateY(0);
		}

		.nav-link {
			position: relative;
			letter-spacing: .1em;

			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 1px;
				height: 1em;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background-color: map-get($theme-colors, 'primary');
			}
		}

		nav .nav-item:last-of-type {
			margin-left: .75em;
		}
	}
	@include element('menu-toggle') {
		border-radius: $gutter/3 !important;
		padding: $gutter/5 $gutter/3 !important;

		@include media-breakpoint-up(sm) {
			padding: $gutter/3 $gutter/2 !important;
		}
	}

	//
	// MOBILE FACETED NAV
	//
	@include element('faceted') {
		position: relative;
		overflow-x: hidden;
		//overflow-y: auto;
		background-color: $bg-megamenu-features;
		padding: $gutter;
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			& > li {
				list-style-type: none;
				margin: 0;
			}
		}

		& > ul > li:not(:last-of-type) {
			margin-bottom: .5em;
		}
		
		a,
		li > label {
			display: block;
			width: 100%;
			font-size: 1.2em;
			line-height: 1em;
			padding-top: .5em;
			padding-bottom: .5em;
			margin-bottom: .5em;
			padding-left: $gutter*2;
			color: map-get($theme-colors, 'primary');
			text-decoration: none;
			@include animate;
			
			&:hover {
				color:  map-get($theme-colors, 'secondary');
			}
		}
		
		label {
			cursor: pointer;
		}
		
		li > label {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 1.5em;
				height: 1.5em;
				top: 50%;
				right: 0;
				transform: translate(0, -50%) scale(.8);
				background: url('/dist/img/icon-chevron-circle-right.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-impact > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-impact-investing-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-loans > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-loans-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-philanthropy > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-philanthropy-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-grants > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-grants-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-engagement > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-area-representatives-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-leadership > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-leadership-ministry-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}

		.menu-about > label {
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 2em;
				height: 2em;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				background: url('/dist/img/icon-about-tan.svg') center center no-repeat;
				background-size: contain;
			}
		}
	}
	@include element('faceted-sub') {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate3d(100%, 0, 0);
		transition: transform 0.2s;
		padding: $gutter;
		background-color: $bg-megamenu-features;
		@include z-1;

		& > ul {
			& > li {
				padding-left: 0;
				margin-bottom: 0;

				&:not(:last-of-type) {
					border-bottom: 1px solid map-get($theme-colors, 'secondary');
				}

				a {
					padding-top: .75em;
					padding-bottom: .75em;
					padding-left: 0;
					margin-bottom: 0;
				}
			}
		}

		.collapse,
		.collapsing {
			ul {
				padding-bottom: 1em;
			}
			li {
				border-bottom: none;
				margin-bottom: 0;
				a {
					font-size: 1em;
					padding-left: 0;
					padding-top: .5em;
					padding-bottom: .5em;
					margin-bottom: 0;
				}
			}
		}
	}
	@include element('faceted-sub-toggle') {
		position: relative;
		padding-left: $gutter;
		margin-bottom: $gutter;
		font-size: .85em;
		color: map-get($theme-colors, 'secondary');
		text-transform: uppercase;
		letter-spacing: .1em;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 1.5em;
			height: 1.5em;
			top: 50%;
			left: -.5em;
			transform: translate(0, -50%) rotate(-180deg);
			background: url('/dist/img/icon-chevron-circle-right.svg') center center no-repeat;
			background-size: contain;
		}
	}
	@include element('faceted-checkbox') {
		display: none;
		
		&:checked + .c-header__faceted-sub {
			transform: translate3d(0, 0, 0);
		}
	}
	@include element('faceted-accordion-toggle') {
		@extend %reset-button;
		position: relative;
		display: block;
		width: 100%;
		font-size: 1.2em;
		line-height: 1em;
		padding-top: .75em;
		padding-bottom: .75em;

		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 1.5em;
			height: 1.5em;
			top: 50%;
			right: 0;
			transform: translate(0, -50%) scale(.8) rotate(90deg);
			background: url('/dist/img/icon-chevron-circle-right.svg') center center no-repeat;
			background-size: contain;
			@include animate;
		}

		&[aria-expanded="true"]:after {
			transform: translate(0, -50%) scale(.8) rotate(-90deg);
		}
	}

	@include element('offcanvas-branding') {
		img {
			position: relative;
			display: block;
			width: auto;
			height: 30px;
			
			@include media-breakpoint-between(sm, xxl) {
				height: 40px;
			}
		}
	}
}