/**
 * HOME
 */
@include component('home') {
	
	//
	// IMPACT INVESTMENTS SECTION
	//
	@include element('impact-investments-intro') {
		position: relative;
		background-color: rgba(map-get($theme-colors, 'secondary'), .25);
		padding-top: $gutter*2;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			max-height: 560px;
			top: 100%;
			background-color: rgba(map-get($theme-colors, 'secondary'), .25);
			z-index: -1;
		}	

		@include media-breakpoint-up(sm) {
			padding-top: $gutter*3;
		}
	}
	
	//
	// PODCAST SECTION
	//
	@include element('podcast') {
		color: white;
		padding-top: $gutter*2;
		padding-bottom: $gutter*2;
		
		@include media-breakpoint-up(sm) {
			padding-top: $gutter*5;
			padding-bottom: $gutter*5;
		}
		
		// multiple background images
		// top to bottom
		background-image:
			url('/dist/img/podcast-decorator.svg'),
			linear-gradient(
				to right, 
				map-get($theme-colors, 'primary') 0%, 
				map-get($theme-colors, 'tertiary') 100%);
		
		background-repeat:
			repeat-x,
			no-repeat;
		
		background-position:
			center bottom,
			center center;
	}
}