/**
 * ICONS
 */
@include component('icon') {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 12px * 3;
	line-height: 12px * 3;
	text-align: center;

	button > & {
		display: block;
	}

	@include modifier('search') {
		background: url('/dist/img/icon-search-tan.svg') center center no-repeat;
		background-size: contain;

		button > & {
			transform: translateY(3px);
		}
	}

	@include modifier('user') {
		background: url('/dist/img/icon-user-tan.svg') center center no-repeat;
		background-size: contain;
	}

	@include modifier('hamburger-white') {
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		background: url('/dist/img/icon-hamburger-white.svg') center center no-repeat;
		background-size: contain;

		@include media-breakpoint-up(sm) {
			width: 2em;
			height: 12px * 3;
			line-height: 12px * 3;
		}
	}

	@include modifier('close-white') {
		background: url('/dist/img/icon-close-white.svg') center center no-repeat;
		background-size: contain;
	}
}