/**
 * IMG TEXT
 */
@include component('img-text') {
	
	@include element('description') {
		padding-right: $gutter/2;
		padding-left: $gutter/2;

		@include media-breakpoint-between(md,lg) {
			width: map-get($container-max-widths, 'md');
		}
		@include media-breakpoint-between(lg,xl) {
			width: map-get($container-max-widths, 'lg') / 2;
		}
		@include media-breakpoint-between(xl,xxl) {
			width: map-get($container-max-widths, 'xl') / 2;
		}
		@include media-breakpoint-up(xxl) {
			width: map-get($container-max-widths, 'xxl') / 2;
		}
	}

	@include element('image') {
		&.start {
			padding: $gutter $gutter*2 0 0;
		}
		&.end {
			padding: $gutter 0 0 $gutter*2;
		}
	}
}