/**
 * LIST GROUP
 */
.list-group-item {
	&[aria-expanded="true"] {
		background-color: $color-blue;
		color: white;
	}
	
	&.twitter,
	&.slides,
	&.recording {
		@include base-font;
		font-size: 80%;
		text-transform: uppercase;
	}
	
	&.twitter:before {
		content: "";
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		background: url('/dist/img/icon-twitter.svg') center center no-repeat;
		background-size: contain;
		transform: translate(-50%, 20%) scale(1.2);
	}
	
	&.slides:before {
		content: "";
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		background: url('/dist/img/icon-presentation-screen.svg') center center no-repeat;
		background-size: contain;
		transform: translate(-50%, 15%) scale(1.2);
	}
	
	&.recording:before {
		content: "";
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		background: url('/dist/img/icon-play.svg') center center no-repeat;
		background-size: contain;
		transform: translate(-50%, 15%) scale(1.2);
	}
}