/**
 * LOGIN PAGE
 */
@include component('login') {
	position: relative;

	@include media-breakpoint-up(sm) {
		height: 100vh;

		.container-fluid,
		.row,
		[class*="col-"] {
			height: 100vh;
		}

	}

	@include element('photo') {
		background-color: map-get($theme-colors, 'primary');
		object-fit: cover;
		height: 100%;
		overflow: hidden;

		img {
			min-width: 100%;
			width: auto;
			height: 100%;
		}
	}

	@include element('content') {
		background-color: white;

		& > div {
			padding: $gutter*2;
		}

		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			height: 100%;
			overflow-y: auto;

			& > div {
				padding: $gutter;
			}
		}
	}
}