/**
 * PAGE HEADER
 */

@include component('pagehead') {
	position: relative;
	overflow: hidden;
	
	
	&:not(.c-pagehead--hero) {
		@extend %block-padding;
	}
	
	.container > .row > [class*="col-"] {
		@extend %first-last-child;
	}
	
	
	//
	// HERO
	//
	@include modifier('hero') {
		padding-top: 50vw;
		
		@include media-breakpoint-up(sm) {
			padding-top: $gutter*6;
		}
		@include media-breakpoint-up(sm) {
			padding-top: 0;
			min-height: 800px;
		}
	}
	@include element('cta') {
		position: relative;
		padding: $gutter;
		@extend %first-last-child;
		
		@include media-breakpoint-up(sm) {
			padding: $gutter*2;
		}
		
		&.u-bg-slate,
		&.u-bg-blue,
		&.u-bg-green,
		&.u-bg-orange,
		&.u-bg-teal {
			h1 {
				color: white;
			}
		}
	}
	
	
	//
	// COLLAPSE
	//
	@include element('collapse') {
		position: relative;
		
		& > button {
			position: relative;
			display: block;
			width: 100%;
			background: transparent;
			border: none;
			text-align: right;
			padding: $gutter/2 $gutter;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .1em;
			@include animate;
			
			& > span {
				display: none;
			}
			
			&:hover {
				background: rgba($color-silver, .1);
			}
			
			.label-open,
			.label-collapsed {
				position: relative;
				padding-right: 2em;
				
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					width: 1em;
					height: 1em;
					@include shape(triangle, .4em, $color-silver);
				}
				
				&:before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					width: 1.5em;
					height: 1.5em;
					border: 1px solid $color-silver;
					border-radius: 100%;
					transform: scale(1.1);
				}
			}
			
			.label-open {
				&:after {
					transform: translate(-45%, 85%) rotate(180deg);
				}
			}
			.label-collapsed {
				&:after {
					transform: translate(-45%, 70%) rotate(0deg);
				}
			}
			
			&[aria-expanded="false"] {
				.label-collapsed {
					display: block;
				}
			}
			
			&[aria-expanded="true"] {
				.label-open {
					display: block;
				}
			}
		}
		
		&.u-bg-slate,
		&.u-bg-blue,
		&.u-bg-green,
		&.u-bg-orange,
		&.u-bg-teal {
			color: white;
			
			h1,
			button {
				color: white;
			}
		}
	}
	@include element('collapse-content') {
		padding: $gutter;
		@extend %first-last-child;
		border-top :1px solid rgba($color-silver, .5);
	}
	
	//
	// BACKGROUND COLORS
	//
	@include modifier('bg-silver') {
		background-color: $color-silver;
	}
	@include modifier('bg-sand') {
		background-color: $color-sand;
	}
	@include modifier('bg-orange') {
		background-color: $color-orange;
		color: white;
		
		h1, h2, h3, h4, a {
			color: white;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
	@include modifier('bg-blue') {
		background-color: $color-blue;
		color: white;
		
		h1, h2, h3, h4, a {
			color: white;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
	@include modifier('bg-slate') {
		background-color: $color-slate;
		color: white;
		
		h1, h2, h3, h4, a {
			color: white;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
	@include modifier('bg-green') {
		background-color: $color-green;
		color: white;
		
		h1, h2, h3, h4, a {
			color: white;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
	@include modifier('bg-teal') {
		background-color: $color-teal;
		color: white;
		
		h1, h2, h3, h4, a {
			color: white;
		}
		
		a:not(.btn):hover {
			color: white;
		}
	}
}