/**
 * GENERAL CONTENT BLOCK
 */
@include component('panel') {
	
	@include element('content') {
		@include media-breakpoint-up(sm) {
			min-height: 400px;
		}
		@include media-breakpoint-up(lg) {
			min-height: 600px;
		}
	}
	
	@include element('heading') {
		@include font-heading;
		font-size: 32px;
		
		@include media-breakpoint-up(sm) {
			font-size: 42px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 48px;
		}
	}
}