/**
 * CTA TILES
 */
@include component('tiles') {

	@include element('tile') {
		position: relative;
		@include border-radius;
		background-color: map-get($theme-colors, 'secondary');
		color: white;
		@extend %first-last-child;
		overflow: hidden;

		a {
			color: white;
			text-decoration: none;
		}
		p, h1, h2, h3 {
			color: white;
		}

		.u-preheading {
			font-size: .75rem;
			letter-spacing: .1em;
		}

		[class^="col-"],
		& > .d-flex {
			padding: $gutter;
		}

		@include modifier('wide') {
			aspect-ratio: 2 / 1;

			@include media-breakpoint-between(lg,xl) {
				aspect-ratio: 2.07 / 1;
			}
			@include media-breakpoint-between(xl,xxl) {
				aspect-ratio: 2.06 / 1;
			}
			@include media-breakpoint-up(xxl) {
				aspect-ratio: 2.05 / 1;
			}
		}
		@include modifier('square') {
			aspect-ratio: 2 / 1;

			@include media-breakpoint-up(sm) {
				aspect-ratio: 1;
			}
		}

		@include modifier('featured') {
			background-color: map-get($theme-colors, 'primary');

			& .c-tiles__description {
				padding: 0;

				.u-preheading {
					padding-top: $gutter;
					padding-left: $gutter;
				}

				h2 {
					padding: $gutter;

					@include media-breakpoint-up(xl) {
						max-width: 50%;
					}
					@include media-breakpoint-between(sm, lg) {
						max-width: 70%;
					}
				}
			}
		}

		@include modifier('video') {
			img {
				@include animate;
			}
			&:hover {
				img {
					opacity: .75;
				}
			}
		}
	}

	//
	// HOME PAGE TILES
	//
	@include element('home') {

		.c-tiles__tile:nth-of-type(1) {
			background-color: transparent; 
			p, h1, h2, h3, h4, a {
				color: map-get($theme-colors, 'primary');
			}
		} 

		.c-tiles__tile { margin-bottom: $gutter; aspect-ratio: 1; } 
		.c-tiles__tile:nth-of-type(1) { aspect-ratio: auto; } 
		.c-tiles__tile:nth-of-type(2) { aspect-ratio: 1; } 
		
		@include media-breakpoint-between(sm,lg) {
			display: grid; 
			grid-template-columns: repeat(2, 1fr); 
			grid-template-rows: repeat(5, auto); 
			grid-column-gap: 10px;
			grid-row-gap: 10px; 
			align-items: end;

			.c-tiles__tile { margin-bottom: 0; }
			.c-tiles__tile:nth-of-type(1) { grid-area: 1 / 1 / 2 / 3; aspect-ratio: auto; }
			.c-tiles__tile:nth-of-type(2) { grid-area: 2 / 1 / 3 / 3; aspect-ratio: 2 / 1; } 
			.c-tiles__tile:nth-of-type(3) { grid-area: 3 / 1 / 4 / 3; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(4) { grid-area: 4 / 1 / 5 / 2; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(5) { grid-area: 4 / 2 / 5 / 3; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(6) { grid-area: 5 / 1 / 6 / 2; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(7) { grid-area: 5 / 2 / 6 / 3; aspect-ratio: 1; } 
		}
		
		@include media-breakpoint-up(lg) {
			display: grid; 
			grid-template-columns: repeat(4, 1fr); 
			grid-template-rows: repeat(3, auto); 
			grid-column-gap: 10px;
			grid-row-gap: 10px; 
			align-items: end;

			.c-tiles__tile { margin-bottom: 0; }
			.c-tiles__tile:nth-of-type(1) { grid-area: 1 / 1 / 2 / 3; aspect-ratio: auto; }
			.c-tiles__tile:nth-of-type(2) { grid-area: 2 / 1 / 3 / 3; aspect-ratio: 2 / 1; } 
			.c-tiles__tile:nth-of-type(3) { grid-area: 1 / 3 / 3 / 5; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(4) { grid-area: 3 / 1 / 4 / 2; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(5) { grid-area: 3 / 2 / 4 / 3; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(6) { grid-area: 3 / 3 / 4 / 4; aspect-ratio: 1; } 
			.c-tiles__tile:nth-of-type(7) { grid-area: 3 / 4 / 4 / 5; aspect-ratio: 1; } 
		}
	}

	@include element('play-icon') {
		display: block;
		background-color: rgba(map-get($theme-colors, 'secondary'), .1);
		overflow: hidden;
		aspect-ratio: 1;

		@include media-breakpoint-up(sm) {
			position: absolute;
			top: 0;
			right:0 ;
			bottom: 0;
			left: 0;
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80px;
			height: 80px;
			border: 2px solid white;
			border-radius: 100%;
			@include z-1;
		}

		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-45%, -50%) rotate(90deg);
			@include shape(triangle, 15px, white);
			@include z-1;
		}

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .5;

			.c-tiles__tile--wide & {
				@include border-start-radius;
			}
		}
	}

	@include element('img-link') {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .75;
			@include animate;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			@include z-1;
		}

		&:hover > img {
			opacity: .5;
		}
	}

	@include element('description') {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		h2 {
			text-shadow: 0 0 .5em rgba(black, .75);
		}
	}
	@include element('description-footer') {
		font-size: .85rem;
		letter-spacing: .1em;
		line-height: 1em;
		padding: $gutter * .75 $gutter;
		background-color: map-get($theme-colors, 'primary');

		& > span {
			position: relative;
			display: inline-block;
			padding-right: 2em;
			@include base-font;
			letter-spacing: .05em;
			text-transform: uppercase;

			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 1em;
				height: 1em;
				top: 50%;
				right: 0;
				transform: translate(0, -50%) scale(1.5);
				background: url('/dist/img/icon-chevron-circle-right-white.svg') center center no-repeat;
				background-size: contain;
			}
		}
	}

	@include element('icon-investments') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-impact-investing-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-grants') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-grants-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-loans') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-loans-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-area-representatives') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-area-representatives-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-philanthropy') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-philanthropy-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-leadership-ministry') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
		background: url('/dist/img/icon-leadership-ministry-white.svg') center center no-repeat;
		background-size: contain;
	}
	@include element('icon-custom') {
		position: absolute;
		display: block;
		top: $gutter;
		right: $gutter;
		width: 2em;
		height: 2em;
	}
}