/**
 * MIXINS
 */

// ---------------------------------------------
// BEM MIXIN FUNCTIONS
//

// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
	&__#{$element} {
		@content;
	}
}

// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
	&--#{$modifier} {
		@content;
	}
}

// Block Component
// @access public
// @param {String} $component - Component's name
@mixin component($component) {
	.c-#{$component} {
		@content;
	}
}

// Block Object
// @access public
// @param {String} $object - Object name
@mixin object($object) {
	.o-#{$object} {
		@content;
	}
}

// Block State
// @access public
// @param {String} $state - State name
@mixin state($state) {
	.is-#{$state} {
		@content;
	}
}

// Block Utility
// @access public
// @param {String} $utility - Utility name
@mixin utility($utility) {
	.u-#{$utility} {
		@content;
	}
}
// ---------------------------------------------



@mixin animate {
	transition: all 0.2s ease-in-out;
}
@mixin animate-slow {
	transition: all .5s ease-in-out;
}

@keyframes clock-animation {
  0% {
    stroke-dashoffset: 471;
  }
  100% {
    stroke-dashoffset: 0;
  }
}





//
// clip reveals
//
@mixin clip-reveal-ltr {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0%;
		right: 0;
		background-color: $body-bg;
		@include z-1;

		animation-duration: 2s;
		animation-delay: 1s;
		animation-name: clip-reveal-ltr;
		animation-fill-mode: both;
	}
}
@keyframes clip-reveal-ltr {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}


@mixin vertically-centered {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: row;
	
	> :first-child {
		flex: 1;
	}
}

// z-indexes
@mixin z-very-top {
	z-index: 9989;
}
@mixin z-top {
	z-index: 999;
}
@mixin z-middle {
	z-index: 99;
}
@mixin z-bottom {
	z-index: 0;
}
@mixin z-10 {
	z-index: 1000;
}
@mixin z-9 {
	z-index: 900;
}
@mixin z-8 {
	z-index: 800;
}
@mixin z-7 {
	z-index: 700;
}
@mixin z-6 {
	z-index: 600;
}
@mixin z-5 {
	z-index: 500;
}
@mixin z-4 {
	z-index: 400;
}
@mixin z-3 {
	z-index: 300;
}
@mixin z-2 {
	z-index: 200;
}
@mixin z-1 {
	z-index: 100;
}

@keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(10px);
  }
}
@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

@keyframes fadeInFull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutFull {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes kenburns {
  0% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.15);
  }
}


//@mixin triangle($direction, $size: 12px, $color: currentColor, $before: false) {
@mixin triangle($direction, $size: 12px, $color: currentColor) {

  $w: null;
  $h: null;
  $c: null;
  $length: length($size);
  //$pseudo: if($before, 'before', 'after');

  @if $length > 2 {
    $w: nth($size, 1);
    $h: nth($size, 2);
    $c: nth($size, 3);
  } @else if $length > 1 {
    $w: nth($size, 1);
    $h: nth($size, 2);
    $c: nth($size, 2);
  } @else if $length == 1 {
    $w: nth($size, 1);
    $h: nth($size, 1);
    $c: nth($size, 1);
  } @else {
    @error "Invalid size \"#{$size}\"";
  }

  //&:#{$pseudo} {
  //
  //  display: inline-block;
  //  content: "";
  //  width: 0;
  //  height: 0;
  //  vertical-align: middle;

    @if $direction == 'up' {

      @if ($length < 3) {

        border-bottom: $h solid $color;
        border-left: $w solid transparent;
        border-right: $w solid transparent;

      } @else {

        border-bottom: $h solid $color;
        border-left: $w solid transparent;
        border-right: $c solid transparent;

      }

    } @else if $direction == 'down' {

      @if ($length < 3) {

        border-top: $h solid $color;
        border-left: $w solid transparent;
        border-right: $w solid transparent;

      } @else {

        border-top: $h solid $color;
        border-left: $w solid transparent;
        border-right: $c solid transparent;

      }

    } @else if $direction == 'left' {

      @if ($length < 3) {

        border-right: $h solid $color;
        border-top: $w solid transparent;
        border-bottom: $w solid transparent;

      } @else {

        border-right: $h solid $color;
        border-top: $w solid transparent;
        border-bottom: $c solid transparent;

      }

    } @else if $direction == 'right' {

      @if ($length < 3) {

        border-left: $h solid $color;
        border-top: $w solid transparent;
        border-bottom: $w solid transparent;

      } @else {

        border-left: $h solid $color;
        border-top: $w solid transparent;
        border-bottom: $c solid transparent;

      }

    //} @else {
    //  @error "Invalid direction \"#{$direction}\"";
    }

    @content;

  //}

}

//
// Sassy Shape Machine Mixin!
// https://gist.github.com/una/7198256#file-shape-mixin
// 
/*
.square{
	@include shape(square, 50px, $color1);
}

.circle{
	@include shape(circle, 50px, $color2);
}

.triangle{
	@include shape(triangle, 50px, $color3);
}

.right-triangle {
	@include shape(right-triangle, 50px, $color4)
}

.diamond{
	@include shape(diamond, 50px, $color5);
}

.pentagon {
	@include shape(pentagon, 50px, $color6);
}

.hexagon {
	@include shape(hexagon, 50px, $color7)
}
*/
@mixin shape($shape, $size, $color){
	@if $shape == square {
		width: $size;
		height: $size;
		background-color: $color;
	}
	@if $shape == circle {
		width: $size;
		height: $size;
		background-color: $color;
		border-radius: 50%;
	}
	@if $shape == triangle {
		width: 0;
		height: 0;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size*1.5 solid $color;
	}
	@if $shape == right-triangle {
		width: 0;
		height: 0;
		border-bottom: $size solid $color;
		border-right: $size solid transparent;
	}
	@if $shape == diamond {
		width: 0;
		height: 0;
		border: $size solid transparent;
		border-bottom-color: $color;
		position: relative;
		top: -$size;
	
		&:after {
			content: '';
			position: absolute;
			left: -$size;
			top: $size;
			width: 0;
			height: 0;
			border: $size solid transparent;
			border-top-color: $color;
		}
	}
	@if $shape == pentagon {
		position: relative;
		width: $size;
		border-width: (25/27)*$size (1/3)*$size 0;
		border-style: solid;
		border-color: $color transparent;
		
		&:before {
			content: "";
			position: absolute;
			height: 0;
			width: 0;
			top: (-17/11)*$size;
			left: (-1/3)*$size;
			border-width: 0 (5/6)*$size (35/54)*$size;
			border-style: solid;
			border-color: transparent transparent $color;
		}
	}
	@if $shape == hexagon {
		width: $size*2;
		height: $size*1.1;
		background: $color;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: $size/-2;
			left: 0;
			width: 0;
			height: 0;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-bottom: $size/2 solid $color;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: $size/-2;
			left: 0;
			width: 0;
			height: 0;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size/2 solid $color;
		}
	}
	@if shape == octagon {
		width: $size;
		height: $size;
		background: transparent;
		position: relative;
		text-align: center;
	
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 29/$size solid $color;
			border-left: 29/$size solid transparent;
			border-right: 29/$size solid transparent;
			width: 42/$size;
			height: 0;
		}
		
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: 29/$size solid $color;
			border-left: 29/$size solid transparent;
			border-right: 29/$size solid transparent;
			width: 42/$size;
			height: 0;
		}
	}
}
