body {
	@include base-font;
}

/*
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	@include font-heading;
	letter-spacing: -0.025em;
	color: $color-blue;
}
*/

/*
h2:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5) {
	text-transform: uppercase;
	color: $color-orange;
	letter-spacing: .1em;
}
*/

.blockquote {
	@include font-heading-light;
}