{% if transform is defined and transform != '' %}
<img src="{{ img.url(transform) }}" alt="{{ img.imageAlt ?: img.caption }}" />
{% else %}
{% set full   = (img.width > 1140) ? 1140 : img.width %}
{% set half   = full / 2 | round %}
{% set fourth = full / 4 | round %}
<img src="{{ img.url({ width: half, format:'webp' }) }}" alt="{{ img.imageAlt ?: img.title }}"
	srcset="{{ img.url({ width: fourth , format:'webp'}) }} {{ fourth }}w,
		{{ img.url({ width: half, format:'webp' }) }} {{ half }}w,
		{{ img.url({ width: full, format:'webp' }) }} {{ full }}w"
	sizes="(min-width: {{ half + 1 }}px) {{ full }}px,
		(min-width: {{ fourth + 1 }}px) {{ half }}px,
		100vw"
/>
{% endif %}