/**
 * BLOCKQUOTE
 *
 
<figure class="c-blockquote rounded">
	<blockquote>
		<p>"Fusce a commodo magna. Maecenas at gravida libero. Duis ullamcorper nisl a orci vestibulum, eu lobortis neque viverra. Suspendisse ornare rutrum blandit. Duis varius commodo turpis sed mollis. In hac habitasse platea dictumst."</p>
	</blockquote>
	<figcaption class="c-blockquote__footer">
		<cite>Sed venenatis cursus orci ac hendrerit</cite>
	</figcaption>
</figure>

 *
 */
@include component('blockquote') {
	$gutter: 24px; //convert rems to px for use with $size-decorator
	$size-border: 80px;
	$size-decorator: 37px;
	
	position: relative;
	display: block;
	width: 100%;
	padding: $gutter $gutter $gutter $size-border+$gutter;
	background-color: rgba(map-get($theme-colors, 'secondary'), .25);
	
	@include media-breakpoint-up(lg) {
		padding: $gutter*2 $gutter*2 $gutter*2 $size-border+$gutter*2;
	}
	
	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: $size-border;
		background: url('/dist/img/tile.svg') center center repeat-y;
		background-size: $size-border;
		border-top-left-radius: var(--bs-border-radius);
		border-bottom-left-radius: var(--bs-border-radius);
	}
	
	blockquote {
		position: relative;
		display: block;
		width: 100%;
		padding-top: $size-decorator+$gutter;
		margin: 0;
		color: map-get($theme-colors, 'primary');
		
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			height: $size-decorator;
			background: url('/dist/img/icon-quote.svg') left top no-repeat;
			background-size: $size-decorator;
		}
		
		p {
			@extend h3;
		}
	}
	
	@include element('footer') {
		margin-top: $gutter;
		color: map-get($theme-colors, 'primary');
		
		cite {
			@include base-font;
		}
	}
	
	@include element('thumb') {
		width: $size-border;
		margin-right: $gutter;
	}
}