/**
 * CONTACT BLOCK
 */
@include component('contact') {
	overflow: hidden;
	

	@include element('description') {
		@extend %block-padding;
	}

	@include element('form') {
		position: relative;
		@extend %block-padding;
		background: map-get($theme-colors, 'secondary-extralight');

		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			right: 100%;
			bottom: 0;
			width: 300%;
			background-color: map-get($theme-colors, 'secondary-extralight');
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 100%;
			bottom: 0;
			width: 300%;
			background-color: map-get($theme-colors, 'secondary-extralight');
		}

		@include media-breakpoint-up(lg) {
			padding-left: $gutter*3;

			&:before {
				display: none;
			}
		}
	}
}