/**
 * IMG TEXT BOX
 */
@include component('img-text-box') {
	position: relative;
	background-color: $color-silver;
	
	@include element('img') {
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	@include element('description') {
		@extend %first-last-child;
		
		@include media-breakpoint-up(lg) {
			padding: $gutter*3;
		}
		@include media-breakpoint-down(md) {
			padding: $gutter;
		}
		
		.btn {
			box-shadow: 3px 3px 6px rgba(black, .2);
		}
	}
}