/**
 * podcast
 */
@include component('podcast') {
	
	@include element('next-steps') {
		background-color: rgba(map-get($theme-colors, 'secondary'), .25);
	}
	@include element('next-steps-slider') {
		position: relative;
		display: block;
		width: 100%;
		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background-color: rgba(map-get($theme-colors, 'secondary'), .25);
		}
	}
	
	@include element('subscribe') {
		input[type="email"] {
			border: none;
			border-radius: 0;
			background-color: transparent;
			border-bottom: 2px solid map-get($theme-colors, 'primary');
		}
		
		.btn {
			transform: scale(.8);
			
			@include media-breakpoint-up(sm) {
				transform: none;
			}
		}
	}
}