/**
 * SLIDER: USES SCROLL-SNAP
 *
 * Uses Snap-Slider
 * https://github.com/tannerhodges/snap-slider
 */
@include component('slider') {
	display: flex;
	
	position: relative;
	overflow: scroll;
	/* Keep overscroll from scrolling the rest of the page */
	overscroll-behavior-x: contain;
	-ms-scroll-snap-type: x mandatory;
	    scroll-snap-type: x mandatory;
	
	
	@include element('slide') {
		position: relative;
		
		scroll-snap-align: start;
		padding-right: $gutter;
		flex: 0 0 45%; // default width
		
		& > a,
		& > div {
			position: relative;
			display: block;
		}
	}
	
	
	//
	// STORY CARDS
	//
	@include modifier('story-cards') {
		.c-slider__slide {
			flex: 0 0 420px;
		}
		@include media-breakpoint-down(sm) {
			.c-slider__slide {
				flex: 0 0 90%;
			}
		}
		/*
		@include media-breakpoint-up(md) {
			.c-slider__slide {
				flex: 0 0 45%;
			}
		}
		@include media-breakpoint-up(xl) {
			.c-slider__slide {
				flex: 0 0 30%;
			}
		}
		*/
	}
	
	
	//
	// BIO CARDS
	//
	@include modifier('bio-cards') {
		.c-slider__slide {
			flex: 0 0 300px;
		}
		@include media-breakpoint-down(sm) {
			.c-slider__slide {
				flex: 0 0 90%;
			}
		}
	}
	
	
	@include element('indicator-current') {
		button {
			display: none;
			
			&.is-current {
				position: relative;
				display: inline-block;
				@extend %reset-button;
			}
		}
	}
	
	@include element('controls') {
		.btn {
			padding: 0;
			
			/* Prevent accidental text selection */
			user-select: none;
			
			&:active {
				border-color: transparent;
			}
			&:hover {
				color: $color-silver;
			}
		}
	}
}