{# Eager-load the Neo field #}
{% for block in entry.pageBuilderFaqs %}
	{% do block.useMemoized() %}
{% endfor %}

<section class="c-block c-faqs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				
				<!-- TABS -->
				<ul class="nav nav-tabs" id="faqs-tabs" role="tablist">
					{# Loop through eager-loaded Neo fields blocks #}
					{% for block in entry.pageBuilderFaqs %}
					{% if block.level == 1 %}
					<li class="nav-item" role="presentation">
						<button class="c-faqs__tab nav-link{% if loop.first %} active{% endif %}" type="button" role="tab"
						 id="tab-{{ block.heading | lower | kebab }}" 
						 data-toggle="tab" 
						 data-target="#faqs-{{ block.heading | lower | kebab }}"
						 aria-controls="faqs-{{ block.heading | lower | kebab }}"
						 aria-selected="true">{{ block.heading }}</button>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
				
				<div class="tab-content" id="faq-tab-content">
					{# Loop through eager-loaded Neo fields blocks #}
					{% for block in entry.pageBuilderFaqs %}
					{% if block.level == 1 %}
					<div class="tab-pane fade py-2 py-md-4{% if loop.first %} show active{% endif %}" id="faqs-{{ block.heading | lower | kebab }}" role="tabpanel" aria-labelledby="tab-{{ block.heading | lower | kebab }}">
						<div class="c-accordion accordion" id="accordion-{{ block.id }}">
							{% for childBlock in block.children.all() %}
								{% for accordionItem in childBlock.accordionItems.all() %}
								<button id="heading-{{ accordionItem.id }}" class="c-accordion__toggle btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{ accordionItem.id }}" aria-expanded="true" aria-controls="collapse-{{ accordionItem.id }}">
									{{ accordionItem.heading }}
								</button>
							
								<div id="collapse-{{ accordionItem.id }}" class="collapse{% if loop.first %} show{% endif %}" aria-labelledby="heading-{{ accordionItem.id }}" data-parent="#accordion-{{ accordionItem.id }}">
									<div class="c-accordion__content py-2 py-md-4">
										{{ accordionItem.description }}
									</div>
								</div>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>
</section>


{% endif %}
{% endfor %}